/* Add these styles to your cart.css file */

.shopping-cart {
    padding: 20px;
}

.heading {
    margin-bottom: 20px;
}

.heading h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.heading p {
    font-size: 16px;
    color: #666;
}

.shopping-cart table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.shopping-cart th,
.shopping-cart td {
    padding: 15px;
    text-align: left;
}

.shopping-cart th {
    background-color: rgba(0, 0, 0, 0.05);
}

.shopping-cart tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.02);
}

.shopping-cart tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.shopping-cart .product-image {
    width: 80px;
    height: auto;
    vertical-align: middle;
}

.shopping-cart .product-name {
    font-weight: bold;
}

.shopping-cart .quantity-input {
    width: 60px;
}

.shopping-cart .update-btn,
.shopping-cart .delete-btn
{
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
.shopping-cart .update-btn{
    background-color: #33beff;
}

.shopping-cart .update-btn:hover{
    background-color: #98d5f1;
}

.shopping-cart .delete-btn
{
    background-color: #f73e3e;
    
}


.shopping-cart .delete-btn:hover
{
    background-color: #f38a8a;
    transform: translateY(-2px);
}

.shopping-cart .empty {
    text-align: center;
    font-style: italic;
    color: #666;
}

.cart-total {
    margin-top: 20px;
    text-align: right;
}

.cart-total p {
    font-weight: bold;
    font-size: 18px;
}

.cart-total span {
    color: #ff4d4d;
}



.continue-btn,
.checkout-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3bbfe7;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.continue-btn:hover,
.checkout-btn:hover {
    background-color: #50a1e4d3;
    transform: translateY(-2px);
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}
