.header {
   background: linear-gradient(135deg, #fcfcfcea, #fffffff1), url('../images/header.png') center/cover; 
   padding: 20px;
}


.header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-logo {
   font-size: 24px;
   text-decoration: none;
   color: #e08488;
   
}

.header-nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   float: right; 
}

.header-nav li {
   display: inline-block;
   margin-left: 20px;
}

.header-nav a {
   text-decoration: none;
   color: #333;
   font-size: 16px;
   position: relative;
}

.header-nav a::after {
   content: '';
   position: absolute;
   bottom: -5px;
   left: 0;
   width: 100%;
   height: 2px;
   background-color: #333;
   transform: scaleX(0);
   transition: transform 0.3s ease;
}

.header-nav a:hover::after {
   transform: scaleX(1);
}

.header-icons {
   display: flex;
   align-items: center;
}

.header-menu-btn,
.header-search-btn,
.header-heart-icon,
.header-cart-icon {
   font-size: 20px;
   margin-right: 10px;
   color: #333;
}


.header-account-box {
   display: none;
   position: absolute;
   top: 50px;
   right: 20px;
   background-color: #fff;
   padding: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-account-box p {
   margin: 0 0 10px 0;
}

.header-account-box p span {
   font-weight: bold;
}

.header-logout-btn {
   display: block;
   text-decoration: none;
   color: #333;
   background-color: #f8f8f8;
   padding: 5px 10px;
   border-radius: 5px;
}

@media (max-width: 768px) {
   .header-nav {
       display: none;
   }
   .header-icons {
       margin-left: auto;
   }
}
