
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/contact.jpg'); 
    backdrop-filter: blur(5px); 
    background-size: cover;
}
a {
    text-decoration: none;
    color: #007bff;
    transition: transform 0.3s ease;
}

a:hover {
    transform: scale(1.2);
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


/* Search Section Styles */
.search-section {
    margin-bottom: 20px;
}

.search-container {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container h2 {
    margin-top: 0;
}

.search-box {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-btn:hover {
    background-color: #555;
}

/* Products Section Styles */
.products-section {
    display: flex;
    flex-wrap: wrap;
}

.product-box {
    flex: 0 0 calc(25% - 20px);
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.product-box:hover {
    transform: translateY(-5px);
}

.product-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.name {
    margin-bottom: 10px;
}

.qty {
    margin-bottom: 10px;
}

.wishlist-btn,
.cart-btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.wishlist-btn:hover,
.cart-btn:hover {
    background-color: #555;
}
